@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("/assets/img/top-view-with-copy-space-1115594.jpg");
    
}

header {
    text-align: center;
}

main {
    padding: 50px;
    padding-bottom: 200px;
    width: 600px;
    margin: 2em auto;
    
    border: 2px solid rgba(255, 255, 255, 0.926);
    background-color: #AC7D56;
    border-radius: 20px;
    margin-bottom: 20px;
   
}

h1 {
    color: #2089c5;
    font-size: 2.2em;
}

#todo-form {
    margin-bottom: 20px;
}

#todo-input {
    padding: 10px;
    width: 70%;
    border-radius: 20px;
}

button {
    padding: 10px 20px;
    background-color: #2089c5;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
}

ul {
    list-style-type: none;
}

li {
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

li button {
    display: inline-block;
    margin-left: 3em;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #2089c5;
    color: rgb(0, 0, 0);
}